.avatar.distorted {
    width: 200px;
    height: calc(200px * 2);
}

.avatar.proportioned {
    width: 300px;
    height: auto;
}

/* Las imágenes originales son demasiado grandes */
.original {
    width: 600px;
}
